body{
font-family: Arial, sans-serif;
background:linear-gradient(135deg, #ade9fc, #f0fcf3, #b8fadb, #9acdfc) ;
margin:0;
}

.hero{
height:400px;

background-image:url("gambar-klinik.jpg"); 
/* nanti kamu ganti sendiri */

background-size:cover;
background-position:center;
}

/* HEADER WEBSITE */
header{
background: linear-gradient(135deg, #ccedf7, #3b86f7, #3b86f7, #9acdfc) ;
color:white;
display:flex;
align-items:center;
padding:15px;
box-shadow:0 10px 20px rgba(20, 4, 247, 0.1);
}

header img{
width:60px;
padding: auto;
margin-right:15px;
margin-left: 30px;
mix-blend-mode: multiply;
}

/* container utama */
.container{
width:650px;
margin:auto;
margin-top:30px;
}

/* intro text */
.intro{
background:white;
padding:12px;
text-align:center;
margin-bottom:20px;
border-radius:8px;
}

/* card / kotak */
.card{
background:white;
padding:30px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* input */
input, select, textarea{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:10px;
border:1px solid #ccc;
border-radius:5px;
}

/* radio */
input[type="radio"]{
width:auto;
margin-right:6px;
}

/* label */
label{
display:block;
margin-bottom:5px;
}

/* textarea */
textarea{
height:80px;
}

/* tombol */
button{
width:100%;
padding:12px;
background:#3fbe74;
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#4093f1;
}

/* pesan sukses */
#pesan{
text-align:center;
margin-top:15px;
font-weight:bold;
color:green;
}

/* ================= HEADER ================= */

.header{
display:flex;
justify-content:space-between;
align-items:center;

background:#2f8cff;
color:white;

padding:15px 40px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* logo */

.logo{
display:flex;
align-items:center;
font-size:20px;
font-weight:bold;
}

.logo img{
width:40px;
margin-right:10px;
}

/* menu */

.navbar a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:500;
transition:0.3s;
}

.navbar a:hover{
color:#d8ecff;
}

/* ================= HERO ================= */

.hero{

height:400px;

background-image:url("gambar-klinik.jpg");
/* nanti kamu ganti sendiri */

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;
text-align:center;

color:white;
}

.hero h1{
font-size:45px;
margin-bottom:10px;
}

.hero p{
width:60%;
margin:auto;
}

/* ================= FOOTER ================= */

footer{
background:#2f8cff;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

/* ================= RESPONSIVE ================= */

@media (max-width:768px){

.header{
flex-direction:column;
}

.navbar{
margin-top:10px;
}

.navbar a{
display:inline-block;
margin:5px;
}

.hero h1{
font-size:30px;
}

.hero p{
width:90%;
}

}