*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background:linear-gradient(135deg,#e3f6fd,#f4fffa);
}

/* HEADER */
header{
background:linear-gradient(135deg,#3b82f6,#06b6d4);
color:white;
display:flex;
align-items:center;
padding:18px 40px;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

header img{
width:60px;
margin-right:15px;
border-radius:50%;
background:white;
padding:5px;
}

header h1{
font-size:22px;
font-weight:600;
}

/* CONTAINER */
.container{
max-width:800px;
margin:40px auto;
padding:20px;
}

/* INTRO */
.intro{
background:white;
padding:18px;
border-radius:10px;
margin-bottom:25px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

/* CARD */
.card{
background:white;
padding:30px;
border-radius:12px;
margin-bottom:25px;
box-shadow:0 5px 18px rgba(0,0,0,0.1);
}

.card h2{
margin-bottom:15px;
color:#2563eb;
}

.card h3{
margin-top:20px;
margin-bottom:10px;
}

/* INPUT */
input, select, textarea{
width:100%;
padding:10px;
border:1px solid #ddd;
border-radius:6px;
margin-bottom:12px;
font-size:14px;
}

/* RADIO GROUP */
.radio-group{
margin-bottom:15px;
}

.radio-group label{
display:flex;
align-items:center;
gap:8px;
margin-bottom:5px;
cursor:pointer;
}

/* TEXTAREA */
textarea{
height:90px;
resize:none;
}

/* BUTTON */
button{
width:100%;
padding:14px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#1e40af;
transform:scale(1.02);
}

/* PESAN */
#pesan{
text-align:center;
margin-top:15px;
font-weight:600;
color:green;
font-size:16px;
}

.btn-kembali{
display:inline-block;
margin-bottom:20px;
padding:10px 16px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:6px;
font-size:14px;
transition:0.3s;
}

.btn-kembali:hover{
background:#1e40af;
transform:translateY(-2px);
}

footer{
background: linear-gradient(135deg,#2563eb,#0ea5e9);
color:white;
text-align:center;
padding:20px;
margin-top:40px;
font-family:Segoe UI, sans-serif;
box-shadow:0 -4px 10px rgba(0,0,0,0.1);
}

footer p{
margin:5px 0;
font-size:14px;
}

footer p:first-child{
font-weight:600;
font-size:15px;
}